.user-sidebar
  .user-menu
    ul.user-menu__list
      li.user-menu__item
        a(href="/number_check.html").user-menu__link Перевірка номера
      li.user-menu__item
        a(href="/my_links.html").user-menu__link Мої посилання
      li.user-menu__item
        a(href="/rating_and_surcharges.html").user-menu__link Рейтинг та доплати
      li.user-menu__item
        a(href="/vip_tasks.html").user-menu__link VIP завдання
      li.user-menu__item
        a(href="/request_friend.html").user-menu__link Запроси друга
      li.user-menu__item
        a(href="/support.html").user-menu__link Відділ підтримки