extends layouts/base

block content
  .info-message.user-profile__info-message
    .info-message__icon-wrapper
      include ./blocks/svg/lock.svg
    h1.page-title.info-message__title Доступ обмежено
    .description Ваш поточний рейтинг не дозволяє повний доступ до всіх функцій платформи. Будь ласка, накопичуйте рейтинг, виконуючи завдання, щоб отримати більше можливостей.
