html,
body {
  overscroll-behavior: none;
}

body {
  height: 100vh;
  font-size: 17px;
  line-height: normal;
  
  @include media-breakpoint-down(xxl) {
    font-size: 16px;
  }
}

.transition {
  transition: all .3s;
}

.success {
  color: #007A1D;
}

.error {
  color: #B10000;
}
