@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/subset-Montserrat-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

// @font-face {
//   font-family: 'Decima Nova Pro';
//   src: url('../fonts/DecimaNovaPro.woff2') format('woff2');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Decima Nova Pro';
//   src: url('../fonts/DecimaNovaPro-Bold.woff2') format('woff2');
//   font-weight: bold;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'Decima Nova Pro';
//   src: url('../fonts/DecimaNovaPro-BoldItalic.woff2') format('woff2');
//   font-weight: bold;
//   font-style: italic;
// }


// @font-face {
//   font-family: "Inter Tight";
//   src: url("../fonts/subset-InterTight-SemiBold.woff2") format("woff2");
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Inter Tight";
//   src: url("../fonts/subset-InterTight-Italic.woff2") format("woff2");
//   font-weight: normal;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Inter Tight";
//   src: url("../fonts/subset-InterTight-Regular.woff2") format("woff2");
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Inter Tight";
//   src: url("../fonts/subset-InterTight-Medium.woff2") format("woff2");
//   font-weight: 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Inter Tight";
//   src: url("../fonts/subset-InterTight-MediumItalic.woff2") format("woff2");
//   font-weight: 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Inter Tight";
//   src: url("../fonts/subset-InterTight-SemiBoldItalic.woff2") format("woff2");
//   font-weight: 600;
//   font-style: italic;
// }

// @font-face {
//   font-family: 'Inter Tight';
//   src: url('../fonts/subset-InterTight-LightItalic.woff2') format('woff2');
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Inter Tight';
//   src: url('../fonts/subset-InterTight-Light.woff2') format('woff2');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }
