.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // padding: 1.484em 4.25em;
  padding: 0.817em 1.9465em;
  border: none;
  border-radius: 7px;
  background: #5340ff;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  @extend .transition;
  
  @include media-breakpoint-down(xxl) {
    padding: 1.1em 3.7em;
  }
  
  &:hover {
    opacity: 0.85;
  }

  &--success {
    background: #009D2B;
  }
}