.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  // padding: 0.95em 1.8em;
  padding: 1.484em 4.25em;
  border: none;
  // border-radius: 0.625em;
  border-radius: 7px;
  background: #5340ff;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  @extend .transition;
  
  // @include media-breakpoint-down(xs) {
  //   font-size: 15px;
  // }
  
  &:hover {
    opacity: 0.85;
  }
}