.form-text {
  width: 100%;
  height: 64px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
  outline: none;
  background: #F4F6F8;
  border-radius: 6px;
  font-size: 15px;
  color: #000;
  
  @include media-breakpoint-down(xxl) {
    height: 54px;
  }
  
  &::placeholder {
    color: #676E8B;
  }
}