.user-menu {
  &__list {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
  }

  &__item {
    border-radius: 8px;
    font-weight: 700;
    
    & + .user-menu__item {
      margin-top: 8px;
    }
  }

  &__link {
    display: block;
    padding: 12px 16px;
    border-radius: 10px;
    @extend .transition;
    
    @include media-breakpoint-down(xxl) {
      padding: 10px 12px;
    }
    
    &:hover {
      background: #F6F6F6;
    }
  }
}