.user-info {
  display: flex;
  align-items: center;
  
  &__username {
    margin-left: 24px;
    
    @include media-breakpoint-down(xxl) {
      margin-left: 16px;
    }
  }

  &__logout-link {
    margin-left: 10px;
    color: rgba(0, 0, 0, .3);
    
    @include media-breakpoint-down(xxl) {
      margin-left: 5px;
    }
  }
}